@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Store">Store</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyOrders">My Orders</a>
        </li>
    </ul>
</div>