@{
    ViewData["Title"] = "MyOrders";
}

@model List<Order>

<div class="text-center">
    <p class="fs-1">My Orders</p>
</div>
<div>
    <table class="table">
        <thead>
        <th scope="col">
            Order ID
        </th>
        <th scope="col">
            Net Price
        </th>
        </thead>
        <tbody>
        @{
            foreach (var order in Model)
            {
                <tr>
                    <td>
                        @order.id
                    </td>
                    <td>
                    @{
                        foreach (var item in order.items)
                        {
                            
                                @item.netCost
                                <br />
                        }
                    }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>